@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background-color: #D6E1FF;
    font-family: 'Red Hat Display', sans-serif;
}

.payButton{
    font-family: 'Red Hat Display', sans-serif;
}
.payButton:hover{
    background-color: #695cf7;
}